.layout {
  display: flex;
  height: fit-content;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}
.main-content {
  flex: 1;

  margin-left: 320px; /* Default margin for expanded sidebar */
  transition: margin-left 0.3s;
  overflow: auto; /* Allows scrolling if content overflows */
  height: 100vh; /* Ensure it takes full viewport height */
}

.toggle-sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
}
