.layout {
  display: flex;
  height: 100vh;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}
.main-content {
  flex: 1;
  margin-left: 320px;
  transition: margin-left 0.3s;
}

.toggle-sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
}
